extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.index.id')
        th= t('models.User.fullName')
        th= t('models.User.email')
        th= t('views.index.createdAt')
        th
    tbody
      each user in data.users
        tr
          td= user.id
          td= `${user.firstName} ${user.lastName}`
          td= user.email
          td= user.createdAt.toLocaleString()
          td
            a(href=route('editUser', { id: user.id }))=t('views.buttons.edit')
            +formFor()(action=`${route('destroyUser', { id: user.id })}?_method=delete` method='post')
              input.btn.btn-link(type="submit" value=t('views.buttons.delete'))
