extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('users.index.list.columns.email')
        th= t('users.index.list.columns.firstName')
        th= t('users.index.list.columns.lastName')
        if currentUser
          th= t('users.index.list.columns.action')
    tbody
      each user in data.users
        tr
          td= user.email
          td= user.firstName
          td= user.lastName
          if currentUser
            td
              +formFor()(action=`/users/edit` )
                input(class='btn btn-primary' type='submit' value=t('users.index.list.columns.action.edit'))
              +formFor()(action='/users' method='post')
                input(name="_method" type="hidden" value="delete")
                input(name="id" type="hidden" value=user.id)
                +submit()(value=t('users.index.list.columns.action.delete'))
