extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('users.index.list.columns.id')
        th= t('users.index.list.columns.fullName')
        th= t('users.index.list.columns.email')
        th= t('users.index.list.columns.createdAt')
        th
    tbody
      each user in data.users
        tr
          td= user.id
          td= `${user.firstName} ${user.lastName}`
          td= user.email
          td= user.createdAt.toLocaleString()
          td
            a(href=`/users/edit/${user.id}`)=t('users.index.list.columns.action.edit')
            +formFor()(action='/users/${user.id}' method='post')
              input(name="_method" type="hidden" value="delete")
              input.btn.btn-link(type="submit" value=t('users.index.list.columns.action.delete'))
