extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= 'Email'
        th= 'First name'
        th= 'Last name'
        th= 'Action'
    tbody
      each user in data.users
        tr
          td= user.email
          td= user.firstName
          td= user.lastName
          td
            +formFor()(action=`/users/edit/${user.id}` )
              input(class='btn btn-primary' type='submit' value='Edit')
            +formFor()(action='/users/${user.id}' method='post')
              input(name="_method" type="hidden" value="delete")
              input(name="id" type="hidden" value=user.id)
              +submit()(value='Delete')
