extends ../layouts/application.pug

block content
  a(href='/statuses/new')= t('views.index.statuses.add')
  table.table.table-striped
    thead
      tr
        th=t('views.index.id')
        th=t('models.Status.name')
        th=t('views.index.createdAt')
        th
    tbody
      each status in data.statuses
        tr
          td= status.id
          td= status.name
          td= status.createdAt
          td
            a(href=`/statuses/edit/${status.id}`)=t('views.buttons.edit')
            +formFor()(action=`/statuses/${status.id}?_method=delete` method='post')
              input.btn.btn-link(type="submit" value=t('views.buttons.delete'))
