extends ../layouts/application.pug

block content
  a(href='/statuses/new')= t('statuses.index.add')
  table.table.table-striped
    thead
      tr
        th=t('statuses.index.list.columns.id')
        th=t('statuses.index.list.columns.name')
        th=t('statuses.index.list.columns.createdAt')
        th
    tbody
      each status in data.statuses
        tr
          td= status.id
          td= status.name
          td= status.createdAt
          td
            a(href=`/statuses/edit/${status.id}`)=t('statuses.index.list.columns.action.edit')
            +formFor()(action=`/statuses/${status.id}?_method=delete` method='post')
              input.btn.btn-link(type="submit" value=t('statuses.index.list.columns.action.delete'))
