extends ../layouts/application.pug

block content
  table.table.table-striped
    a(href='/statuses/new')= 'Add Status'
    thead
      tr
        th= 'Status Name'
        if currentUser
          th= 'Action'
    tbody
      each status in statuses
        tr
          td= status.name
          td
            a(href=`/statuses/edit/${status.id}`)='Edit'
            +formFor()(action='/statuses' method='post')
              input(name="_method" type="hidden" value="delete")
              input(name="id" type="hidden" value=status.id)
              +submit()(value='Delete')
