extends ../layouts/application.pug

block content
  table.table.table-striped
    +formFor()(action='/status/new' )
      input(class='btn btn-primary' type='submit' value='Add')
    thead
      tr
        th= 'Status Name'
        th= 'Action'
    tbody
      each status in statuses
        tr
          td= status.name
          td
            +formFor()(action=`/status/edit/${status.id}` )
              input(class='btn btn-primary' type='submit' value='Edit')
            +formFor()(action='/status' method='post')
              input(name="_method" type="hidden" value="delete")
              input(name="id" type="hidden" value=status.id)
              +submit()(value='Delete')
