extends ../layouts/application.pug

block content
  a(href=route('newLabel'))= t('views.index.labels.add')
  table.table.table-striped
    thead
      tr
        th=t('views.index.id')
        th=t('models.Label.name')
        th=t('views.index.createdAt')
        th
    tbody
      each label in data.labels
        - id = String(label.id)
        tr
          td= id
          td= label.name
          td= label.createdAt
          td
            a(href=route('editLabel', { id }))=t('views.buttons.edit')
            +formFor()(action=`${route('destroyLabel', { id })}?_method=delete` method='post')
              input.btn.btn-link(type="submit" value=t('views.buttons.delete'))
