extends ../layouts/application.pug

block content
  a(href='/labels/new')= t('views.index.labels.add')
  table.table.table-striped
    thead
      tr
        th=t('views.index.id')
        th=t('models.Label.name')
        th=t('views.index.createdAt')
        th
    tbody
      each label in data.labels
        tr
          td= label.id
          td= label.name
          td= label.createdAt
          td
            a(href=`/labels/${label.id}/edit`)=t('views.buttons.edit')
            +formFor()(action=`/labels/${label.id}?_method=delete` method='post')
              input.btn.btn-link(type="submit" value=t('views.buttons.delete'))
