extends ../layouts/application.pug

block content
  a(href='/labels/new')= t('labels.index.add')
  table.table.table-striped
    thead
      tr
        th=t('labels.index.list.columns.id')
        th=t('labels.index.list.columns.name')
        th=t('labels.index.list.columns.createdAt')
        th
    tbody
      each label in data.labels
        tr
          td= label.id
          td= label.name
          td= label.createdAt
          td
            a(href=`/labels/edit/${label.id}`)=t('labels.index.list.columns.action.edit')
            +formFor()(action='/labels' method='post')
              input(name="_method" type="hidden" value="delete")
              input(name="id" type="hidden" value=label.id)
              input.btn.btn-link(type="submit" value=t('labels.index.list.columns.action.delete'))
