extends ../layouts/application.pug

block content

  +formFor()(action='/tasks' method='get')
    +input('Name', '')(name='name')
    +select('Status', data.statuses)(name='statusId')
    +multiselect('Labels', data.labels)(name='labelIds')
    +select('Creator', data.users)(name='creatorId')
    +select('Assigned', data.users)(name='assignedId')
    +submit()(value='Filter')

  table.table.table-striped
    +formFor()(action='/tasks/new' )
      input(class='btn btn-primary' type='submit' value='Add')
    thead
      tr
        th= 'Name'
        th= 'Description'
        th= 'Status'
        th= 'Labels'
        th= 'Creator'
        th= 'Assignee'
        th= 'Action'
    tbody
      each task in data.tasks
        tr
          td= task.name
          td= task.description
          td= task.status.name
          td= task.labels.map(({ name }) => name).join(', ')
          td= `${task.creator.firstName} ${task.creator.lastName}`
          td= task.assigned ? `${task.assigned.firstName} ${task.assigned.lastName}` : 'none'
          td
            +formFor()(action=`/tasks/edit/${task.id}` )
              input(class='btn btn-primary' type='submit' value='Edit')
            +formFor()(action='/tasks' method='post')
              input(name="_method" type="hidden" value="delete")
              input(name="id" type="hidden" value=task.id)
              +submit()(value='Delete')
