extends ../layouts/application.pug

block content
  a(href='/tasks/new')= t('views.index.tasks.add')
  table.table.table-striped
    thead
      tr
        th= t('views.index.id')
        th= t('models.Task.name')
        th= t('models.Status.name')
        th= t('models.Task.creator')
        th= t('models.Task.assigned')
        th= t('views.index.createdAt')
        th= t('models.Task.labels')
        th
    tbody
      each task in data.tasks
        tr
          td= task.id
          td= task.name
          td= task.status.name
          td= `${task.creator.firstName} ${task.creator.lastName}`
          td= task.assigned ? `${task.assigned.firstName} ${task.assigned.lastName}` : 'none'
          td= task.createdAt
          td= task.labels.map(({ name }) => name).join(', ')
          td
            a(href=`/tasks/edit/${task.id}`)=t('views.buttons.edit')
            +formFor()(action=`/tasks/${task.id}?_method=delete` method='post')
              input(name="id" type="hidden" value=task.id)
              input.btn.btn-link(type="submit" value=t('views.buttons.delete'))
