extends ../layouts/application.pug

block content
  a(href='/tasks/new')= t('tasks.index.add')
  table.table.table-striped
    thead
      tr
        th= t('tasks.index.list.columns.id')
        th= t('tasks.index.list.columns.name')
        th= t('tasks.index.list.columns.status')
        th= t('tasks.index.list.columns.creator')
        th= t('tasks.index.list.columns.assigned')
        th= t('tasks.index.list.columns.createdAt')
        th= t('tasks.index.list.columns.labels')
        th
    tbody
      each task in data.tasks
        tr
          td= task.id
          td= task.name
          td= task.status.name
          td= `${task.creator.firstName} ${task.creator.lastName}`
          td= task.assigned ? `${task.assigned.firstName} ${task.assigned.lastName}` : 'none'
          td= task.createdAt
          td= task.labels.map(({ name }) => name).join(', ')
          td
            a(href=`/tasks/edit/${task.id}`)=t('tasks.index.list.columns.action.edit')
            +formFor()(action='/tasks/${task.id}?_method=delete' method='post')
              input(name="id" type="hidden" value=task.id)
              input.btn.btn-link(type="submit" value=t('tasks.index.list.columns.action.delete'))
