extends ../layouts/application.pug

block content

  .kek= `${data.task.constructor.name}`
  .jumbotron.p-2
    +formFor()(action='/tasks' method='get')
      +select(data.task, 'status', errors)
      +select(data.task, 'executor', errors)
      +select(data.task, 'label', errors)
      +checkbox(data.task, 'isCreatorUser', errors)
      +submit()(value=t('views.buttons.filter'))

  a(href='/tasks/new')= t('views.index.tasks.add')
  table.table.table-striped
    thead
      tr
        th= t('views.index.id')
        th= t('models.Task.name')
        th= t('models.Task.description')
        th= t('models.Status.name')
        th= t('models.Task.creator')
        th= t('models.Task.executor')
        th= t('views.index.createdAt')
        th= t('models.Task.labels')
        th
    tbody
      each task in data.tasks
        tr
          td= task.id
          td= task.name
          td= task.description
          td= task.status.name
          td= `${task.creator.firstName} ${task.creator.lastName}`
          td= task.executor ? `${task.executor.firstName} ${task.executor.lastName}` : 'none'
          td= task.createdAt
          td= task.labels.map(({ name }) => name).join(', ')
          td
            a(href=`/tasks/${task.id}/edit`)=t('views.buttons.edit')
            +formFor()(action=`/tasks/${task.id}?_method=delete` method='post')
              input(name="id" type="hidden" value=task.id)
              input.btn.btn-link(type="submit" value=t('views.buttons.delete'))
