include ../mixins/forms.pug

doctype html
html(lang="en").h-100
  head
    title=t('title')
    script(src='/assets/main.js')
  body.d-flex.flex-column.min-vh-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
      a.navbar-brand(href='/')=t('layout.header.title')
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/users')=t('layout.header.users')
      if isAuthenticated()
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/statuses')=t('layout.header.statuses')
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/labels')=t('layout.header.labels')
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/tasks')=t('layout.header.tasks')
      up.navbar-nav
        if !isAuthenticated()
          li.nav-item
            a.nav-link(href='/users/new')=t('layout.header.signup')
          li.nav-item
            a.nav-link(href='/session/new')=t('layout.header.signin')
        else
          li.nav-item
            +buttonTo('/session', 'delete')(class='nav-link', value=t('layout.header.signout'))
    +flash(reply.flash())

    .container
      h1.my-4
        block header
      block content
